.Password{
    width: 100%;
}

.Password .item{
    width: 100%;
    max-width: 40em;
}

.Password .item form{
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.Password .item form input{
    height: 3em;
    padding: 0.5em 1em;
}